 
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  
  <p style=" text-align: center; padding:10px; color:white">All Rights Reserved</a></p> 

</nav>
  <Script src="/Scripts/lib/jquery/dist/jquery.min.js"></Script>
<Script src="/Scripts/lib/jquery/dist/jquery.js"></Script>
<Script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></Script>


</body>
</html>