 
 <footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>All rights reserved.</p>
  </footer>
  <Script src="/Scripts/lib/jquery/dist/jquery.min.js"></Script>
<Script src="/Scripts/lib/jquery/dist/jquery.js"></Script>
<Script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></Script>


</body>
</html>