
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> <%= title %> </title>
    <!-- CSS SECTION -->
    
     <link rel='stylesheet' href='../Content/style.css' type="text/css"/>
     <link rel='stylesheet' href='../Content/small-business.css' type="text/css"/>
    <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/Scripts/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   
  </head>
  <body>

  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">CentEngage</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">

  


        <% if(typeof username == 'string' && username) { %>
            <li><a href="#">Welcome, <%= username %></a></li>

            <% if(accType == "Member") { %>
            <li><a href="/member/<%= userid %>"> Profile </a></li>
            <% } else if(accType == "Employer") { %>
             <li><a href="/employer/<%= userid %>"> Profile </a></li>
             <% } %>

            <li><form method="post" action="/jobs/search">
                <div class="form-group" style="margin-top:10px;">
                  <input class="form-control" type="text" class="form-control" name="searchKeywords" required autofocus/>
                  </div>
            </li>
            <li>
            <div class="form-group" style="margin-top:10px;">
                  <select class="form-control" name="field">
                    <option selected disabled>Select Search Option</option>
                    <option value="title">Job Title</option>
                    <option value="company">Company</option>
                    <option value="location">Location</option>
                    <option value="tags">Tags</option>
                    <option value="job_description">Job Description</option>
                  </select>
                  </div>
            </li>
            <li>
            <div class="form-group" style="margin-top:10px;">
            <input type="submit" class="btn btn-success" value="Search"/>
            </div>
            </form>
            </li>
            <li><a href="/jobs/postjob">Post a Job</a></li>
            <li><a href="/jobs/myJobs"> My Jobs </a></li>

            <li><a href="/users/logout">Log Out</a></li>

            <% } else { %>
            <li><a href="/"><i class="fa fa-home fa-lg"></i> Home</a></li>
            <li><a href="/users/registerEmployer">Sign Up - Employer</a></li>
            <li><a href="/users/registerMember">Sign up - Member</a></li>
            <li><a href="/users/login">Login</a></li>
            <% } %>
         
     
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>

<% if(title == "Profile Information") { %>
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<% } %>