<% include ./partials/header.ejs %>

    <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive img-rounded" src="/Assets/images/logo.jpg" alt="">
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h1>Welcome to CentEngage</h1>
                
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                   For Centennials and for those who want Centennials!!!
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4">
                <h2>Students/Alumni</h2>
                <p>You could benefit from this portal by getting to know about un-advertised job openings exclusively from centennial mates!</p>
                
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>Staff</h2>
                <p>Staffs at Centennial College can create their portfolio in this portal for further career opportunities</p>
                
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>Employer</h2>
                <p>Want a candidate from Centennial College? Join us</p>
                
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

       

    </div>
    <!-- /.container -->

<% include ./partials/footer.ejs %>