<% include ../partials/header.ejs %>

<body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<div class="container">
    <div class="login-signup">
      <div class="row">
        <div class="col-sm-6 nav-tab-holder">
        <ul class="nav nav-tabs row" role="tablist">
          <li role="presentation" class="active col-sm-6"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Employer Registration</a></li>

        </ul>
      </div>

      </div>


      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
          <div class="row">

            <div class="col-sm-12 mobile-pull">
              <article role="login">
                <h3 class="text-center"><i class="fa fa-lock"></i>Sign up as Employer</h3>
                
          <form class="signup" method="post">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Company Name" name="compName">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Address" name="compAddress">
                </div>
                 <div class="form-group">
                  <input type="text" class="form-control" placeholder="Contact Number" name="compNumber">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Email Id" name="compEmail">
                </div>
                 <div class="form-group">
                  <input type="text" class="form-control" placeholder="Website" name="compWebSite">
                </div>
                 <div class="form-group">
                  <input type="text" class="form-control" placeholder="Industry Type" name="industry">
                </div>
         
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password" name="compPassword">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Confirm Password">
                </div>
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Please accept the terms and conditions to proceed with your request.
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-success btn-block"  value="SUBMIT">
                </div>
              </form>


              </article>
            </div>

            

          </div>
          <!-- end of row -->
        </div>
        <!-- end of home -->

      
  </div>
  </div>
  <Script src="/Scripts/lib/jquery/dist/jquery.min.js"></Script>
<Script src="/Scripts/lib/jquery/dist/jquery.js"></Script>
<Script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></Script>

</body>
</html>
